<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="progetto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <progetto.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>Nessuno</value>
            </setting>
            <setting name="Foto" serializeAs="String">
                <value>user.png</value>
            </setting>
            <setting name="online" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="download" serializeAs="String">
                <value>C:\Users\Public\Downloads</value>
            </setting>
            <setting name="modificafoto" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="avvio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="all_file" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="new_folder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="online_string" serializeAs="String">
                <value>online</value>
            </setting>
            <setting name="yourself" serializeAs="String">
                <value>False</value>
            </setting>
        </progetto.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.WindowsRuntime" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
